@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

        <ul id="dropdown1" class="dropdown-content">
            <li><a href="Manage/Index">Manage</a></li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log Off</a></li>
        </ul>
        <ul id="nav-mobile" class="right hide-on-med-and-down">



            <li>
                <a class="dropdown-button" href="#!" data-activates="dropdown1"><i class="large material-icons">perm_identity</i></a>
            </li>


        </ul>

    }
}
else
{
    <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li>@Html.ActionLink("Log In", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
