@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<p>Please enter paypay details</p>
<div class="card-panel">
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_s-xclick">
        <table>
            <tr><td><input type="hidden" name="on0" value="Payment Options">Payment Options</td></tr>
            <tr>
                <td>
                    <select name="os0">
                        <option value="Option 1">Option 1 : €1.00 EUR - daily</option>
                        <option value="Option 2">Option 2 : €2.00 EUR - daily</option>
                        <option value="Option 3">Option 3 : €3.00 EUR - daily</option>
                    </select>
                </td>
            </tr>
        </table>
        <input type="hidden" name="currency_code" value="EUR">
        <input type="hidden" name="encrypted" value="-----BEGIN PKCS7-----MIIIaQYJKoZIhvcNAQcEoIIIWjCCCFYCAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYBiP7B6wK3vFgpV3ExI9ngWmEvheplRw8BYY8j3Wmlg/0HOuVzJgee8eZa+SpKHNDQK7m/N07AqaNUp7fRkGoK4KYQdz/RrprXCk4EUEnrQIfzP4KUvwpxUZiihqXD2/lgbhK3jOaDGOp0uYSNX8y7PJhReR3cROR+SrJXrCmhiUjELMAkGBSsOAwIaBQAwggHlBgkqhkiG9w0BBwEwFAYIKoZIhvcNAwcECE5h8eKgbJLDgIIBwDsC4fiaWDPA5yFxpS2vHSwece1vt0RVa11RydmXy4sgQkc0ox8B1XZoFR/bQaI4m2e1PBfOUx/BzbzriCNwAvYwO8h+F74zBcOKRqxpWQnIllPCEN6RHoqBF7j+/YPWMcumC3BkOSqWC1PZmTs/QHCWa8MT3lm/vnlsVZhFz5xz+Os+unc407yOvfHw0A1x3dhyv1fL8oRG2fmTrTbQkB8k3vjnKFyINkpJhgjoa904uZNEIqwn0k7mx6Jb7smOoCbDAL6EGLhG7fHUsMXiFyLuUI5QQmHAxQhuM46mvhsshXgpRGGRpCBV+Bmi935V3/m47HfrH8OO9N7XbpR8dJ1Ky2milqFBKtIZBElLA1er+wbi7kKzpPuLwKCELQ5yeZEkn02yya+JiKfVAg0LX2OfrBr4FynpSGMYtel2TpmL/R30yq3YFNH5DVlRjKFrqZzZcIv4YJE+k57OQ2Ie8RNfzEMsqgaV9HH+lcrR+LaMLJgpK3E+ci9MnEUoI9519HQzZgD8gN9vvM/5inLwzDnO3zLoRd2e8NpZfpIV20n2hr909zEVg0Ju7CxVPhbZr4oDhllOaYA1nRMyuyVKqQOgggOHMIIDgzCCAuygAwIBAgIBADANBgkqhkiG9w0BAQUFADCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20wHhcNMDQwMjEzMTAxMzE1WhcNMzUwMjEzMTAxMzE1WjCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20wgZ8wDQYJKoZIhvcNAQEBBQADgY0AMIGJAoGBAMFHTt38RMxLXJyO2SmS+Ndl72T7oKJ4u4uw+6awntALWh03PewmIJuzbALScsTS4sZoS1fKciBGoh11gIfHzylvkdNe/hJl66/RGqrj5rFb08sAABNTzDTiqqNpJeBsYs/c2aiGozptX2RlnBktH+SUNpAajW724Nv2Wvhif6sFAgMBAAGjge4wgeswHQYDVR0OBBYEFJaffLvGbxe9WT9S1wob7BDWZJRrMIG7BgNVHSMEgbMwgbCAFJaffLvGbxe9WT9S1wob7BDWZJRroYGUpIGRMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbYIBADAMBgNVHRMEBTADAQH/MA0GCSqGSIb3DQEBBQUAA4GBAIFfOlaagFrl71+jq6OKidbWFSE+Q4FqROvdgIONth+8kSK//Y/4ihuE4Ymvzn5ceE3S/iBSQQMjyvb+s2TWbQYDwcp129OPIbD9epdr4tJOUNiSojw7BHwYRiPh58S1xGlFgHFXwrEBb3dgNbMUa+u4qectsMAXpVHnD9wIyfmHMYIBmjCCAZYCAQEwgZQwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tAgEAMAkGBSsOAwIaBQCgXTAYBgkqhkiG9w0BCQMxCwYJKoZIhvcNAQcBMBwGCSqGSIb3DQEJBTEPFw0xNTExMTYyMDM0NDZaMCMGCSqGSIb3DQEJBDEWBBSpJ8W7bC+BlOLNEnuy+f9GIAy/ojANBgkqhkiG9w0BAQEFAASBgEDQOoW6nXo8NTIELqmNt2Jj9nTY35XfsXSeRuhFAmrdMZ4F9anGA8PCYTxKUwVjteJOkkTFW9QbPmFJyLL1hRZLuQSWNWRPQRXro5hzvkbGWFZxIQHkgrCLC5cMGT3DMuc0ZrXoctfqpa5sWxzoMTEXoBrvop7Nwdekl+I96nuD-----END PKCS7-----
">
        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
    </form>
</div>