@model Project2.ViewModels.IndexViewModel
@{
    ViewBag.Title = "About";
}

<div class="card-panel">
    <div class="row">

            <h1><i>Post of the month.</i></h1>


            <button data-id="@Model.Post.Id" type="button" class="like-button" title="Click to like this post!">
                <i class="fa fa-thumbs-up"></i> Like
                |
                <span class="like-count">@Model.PostLikes</span>
            </button>
        <h1></h1>
            <div class="video-container">
                <iframe width="853" height="480" src="//www.youtube.com/embed/sBzrzS1Ag_g" frameborder="0" allowfullscreen></iframe>
            </div>

    </div>
</div>

@section scripts
{
    <script src="/Scripts/jquery-2.2.2.min.js"></script>
    <script src="/Scripts/jquery.signalR-2.2.0.min.js"></script>
    <script src="/signalr/hubs"></script>
    <script src="/Scripts/likeButton.js"></script>
}