@model Project2.ViewModels.IndexViewModel
@{
    ViewBag.Title = "Home Page";
}

    <div class="row">
        <div class="card-panel">
            <h4><b>Welcome to <i>TrackList</i></b></h4>
            <h4>The place to Share and Discover new music</h4>
            <!--<div class="first"><a class="btn btn-default blue">More</a></div>-->
            <div class="first"><button type="button">Learn More</button></div>
            <p></p>
            <div class="video-container">
                <iframe width="853" height="480" src="//www.youtube.com/embed/tdwbYGe8pv8" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <div class="second"></div>
    <div class="card-panel grey lighten-2">
        <div class="row">
            <div class="col s6">
                <div class="card">
                    <div class="card-image">
                        <img src="http://blog.birdhouse.org/images/itunes_artwork2.jpg">
                        <span class="card-title">All About Us</span>
                    </div>
                    <div class="card-content">
                        <p>
                            Tracklist is an easy way to share the music you love with other listeners. Join us
                            and help the discovery and exploration of music, new & old. Your new favourite artist is
                            just a scroll away.
                        </p>
                    </div>
                    <div class="card-action">
                        <a href="#">This is a link</a>
                    </div>
                </div>
            </div>
        </div>
        

            <div class="row">
                <div class="col s6 offset-s6">
                    <div class="card">
                        <div class="card-image">
                            <img src="http://cdn.techpp.com/wp-content/uploads/2013/01/music-sharing-2.jpg">
                            <span class="card-title">Membership</span>
                        </div>
                        <div class="card-content">
                            <p>
                                Join our community where the passion is for music. Create and account with us
                                and begin shareing your favourite tracks to users around the world. Binge through lists
                                of fresh music and rate the best posts.
                            </p>
                        </div>
                        <div class="card-action">
                            <a href="#">This is a link</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

