@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <div class="card-panel">
        <h2>Welcome</h2>
        <p>ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        <p><a class="btn btn-default blue" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        <div class="video-container">
            <iframe width="853" height="480" src="//www.youtube.com/embed/SNrdLEaE6?rel=0" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
    <div class="card-panel">


        <p> adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat</p>
        <img class="responsive-img" src="https://upload.wikimedia.org/wikipedia/commons/1/1e/Large_Siamese_cat_tosses_a_mouse.jpg">
    </div>
