<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://jhtracklist.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>jhtracklist.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>jhtracklist</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$jhtracklist</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Project2.Entities.LikeData" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Project2.Entities.LikeData, Project2" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="BlogEntities" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Project2.Entities.BlogEntities, Project2" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="3" Enabled="True">
          <Destination Path="Data Source=tcp:du6kvsp5g7.database.windows.net,1433;Initial Catalog=jhtracklistdata;Integrated Security=False;User ID=x00101225@du6kvsp5g7;Password={Password1@};Connect Timeout=30;Encrypt=True" Name="Server=tcp:du6kvsp5g7.database.windows.net,1433;Database=jhtracklistdata;User ID=x00101225@du6kvsp5g7;Password={Password1@};Trusted_Connection=False;Encrypt=True;Connection Timeout=30" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Project2.Models.ApplicationDbContext, Project2" MigrationConfiguration="Project2.Migrations.Configuration, Project2" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)BlogEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Server=tcp:du6kvsp5g7.database.windows.net,1433;Database=jhtracklistdata;User ID=x00101225@du6kvsp5g7;Password={Password1@};Trusted_Connection=False;Encrypt=True;Connection Timeout=30</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Project2.Entities.LikeData-Web.config Connection String" />
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="Project2.Entities.LikeData" />
  </ItemGroup>
</Project>